*{
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #222430;
}

.bg-image{
  background-attachment: fixed;
  background-color: #222430;
  background-image: url('../public/assets/bg-texture-01.jpg');
  background-position: top -50vh;
  background-size: cover;
}

a{
  font-family: 'Consolas', 'Courier New', monospace;
}

img{
  width: 100%;
}