header{
    justify-content: center;
}

.not-main-Home{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.header-wrapper{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.header-logo{
    margin-right: 1rem;
    width: 20%;
}

.header-logo>img{
    height: 3rem;
}

.header-brand{
    color: #8326ef;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;

}

.header-heading{
    color: #cffbff;
    display: none;
    font-family: 'Lobster' , cursive;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-shadow: #29d5e2;
}

.header-wrapper2{
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 100vh;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-btn>span{
    color: #8326ef;
    font-size: 1rem;
}

.input-field{
    align-content: center;
    display: flex;
}

.search-btn{
    align-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    height: 1.5rem;
    padding-left: 0.5rem;
    width: 1.5rem;
}

.input-field>input{
    background-color: #fff;
    border-radius: 0 1rem 1rem 0;
    color: #8326ef;
    height: 1.5rem;
    width: 80%;
}

.menu-btn-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.nav-menu{
    background-color: transparent;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
}

.nav-btn{
    align-items: center;
    background-color: #8326ef;
    border: none;
    border-radius: 0.5em;
    display: flex;
    height: 2rem;
    justify-content: center;
    padding-top: 0.3rem;
    width: 2rem;
}

.collapsed, .collapse-start:target, .collapsible-body:where(:not(.collapsed:target)){
    display: none;
}

.collapse-start:target + .collapsed, .menu-btn-wrapper:has(.nav-btn>.collapse-start:target) ~ .collapsible-body{
    display: flex;
}

.collapsed{
    position: relative;
    top: -0.1rem;
}

.nav-btn>a{
    color: #fff;
}

.collapsible-body{
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

.collapsible-body>a, .collapsible-body>a>span{
    color: #29d5e2;
    font-size: 0.67rem;
}

.collapsible-body>a{
    font-family: 'Open Sans', sans-serif;
}

.nav-body2{
    align-self: flex-end;
    justify-content: end;
}