.product-filter{
    background-color: #8426efb9;
    border-radius: 0.5em;
    color: #cffbff;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
}

#hideFilters, #showFilters:target, .mobile-toggled:where(:not(#showFilters:target)){
    display:none;
}

#showFilters:target + #hideFilters, .mobile-toggle:has(.filter-expander>#showFilters:target) ~ ul.collapsible{
    display: flex;
}

.filter-expander, .category-header, .category-list{
    padding: 2.5vw;
}

.mobile-toggle{
    text-align: center;
}

.filter-expander>a{
    color: #29d5e2;
    font-size: 1.2rem;
    padding: 2.5vw;
}

ul.collapsible{
    background-color: #cffbffb9;
    border-radius:  0 0 0.5em 0.5em;
    color: #29d5e2;
    flex-wrap: wrap;
    padding: 2.5vw;
}

.category-wrapper, .expanded-list{
    align-items: center;
    border-bottom: 0.15rem solid #cffbff;
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
}

.category-header{
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 78.5vw;
}

.category-wrapper>.expand, .category-wrapper>.collapse{
    text-align: right;
}

.category-list, .category-list>li{
    font-size: 1rem;
    width: 85vw;
}

.category-list>li>a, .category-wrapper>a{
    color: #29d5e2;
}

.collapsed-list, .category-wrapper>.collapse, .category-wrapper>.expand{
    display: none;
}

.category-wrapper>a.active{
    display: inline;
}