@media screen and (min-width: 650px) {

    #intro{
        height: 40rem;
        width: 100%;
    }

    .heading-content{
        justify-content: flex-start;
        width: 100%;
    }

    .heading-content>figure{
        height: 30rem;
        left: 20%;
        position: relative;
        width: 60%;
    }

    .image-loop{
        background-size: 100%;
    }

    .categories{
        margin: 0.5rem;
        width: 45%;
    }

    .cat-content{
        height: 100%;
    }

    .cat-tittle{
        width: 100%;
    }

    .cat-video{
        width: 14rem;
    }

    .cat-video>video{
        left: 0;
    }
}